.services {
	margin-top: 1.6875rem;
	display: flex;
	gap: 1.6875rem;

	& > li {
		flex: 1 1 50%;
	}

	@media (width < 992px) {
		flex-direction: column;
		justify-content: center;
		& > li {
			margin: 0 auto;
		}
	}
}
