@import "src/styles/variables.scss";

.section {
    h2.title {
        margin-bottom: 24px;
    }

    h3.title {
        margin-bottom: 40px;
    }
}

.wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;
    row-gap: 40px;
    column-gap: 20px;

    @media only screen and (max-width: 1280px) {
        flex-direction: column;
    }
}

.content {
    width: 100%;
    max-width: calc(60% - 20px);

    @media only screen and (max-width: 1280px) {
        max-width: 100%;
    }
}

.form {
    width: 100%;
    max-width: calc(40% - 20px);
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media only screen and (max-width: 1280px) {
        flex-direction: row;
        max-width: 100%;
    }

    @media only screen and (max-width: 833px) {
        flex-direction: column-reverse;
    }

    .img {
        @media only screen and (max-width: 1280px) {
            order: 2;
            width: 100%;
            max-width: calc(50% - 16px);
        }

        @media only screen and (max-width: 833px) {
            max-width: 100%;
        }
    }

    .eventForm {
        @media only screen and (max-width: 1280px) {
            width: 100%;
            max-width: calc(50% - 16px);
        }

        @media only screen and (max-width: 833px) {
            max-width: 100%;
        }
    }
}

.title {
    font-size: $text-huge;

    @media only screen and (max-width: 834px) {
        font-size: $text-big;
    }

    @media only screen and (max-width: 425px) {
        font-size: $text-large;
    }
}

.description {
    margin-bottom: 24px;
}

.info {
    margin-bottom: 62px;
    display: flex;
    gap: 16px;
}

.speakersWrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 120px;
}

.speaker {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.speakerName {
    margin-top: 24px;
    color: $prim-color-black;
    font-size: $text-normal;
    font-weight: 600;
    line-height: 1.1;
}