.pageSection {
	padding: 0 30px;
}

.title {
	margin-top: 30px;
	font-size: 32px;
	font-weight: bold;
}

.formContainer {
	margin: 32px 0;
}

.submitBtn {
	width: 179px;
	border-radius: 6px;
	&:hover {
		border-radius: 6px;
	}
}
