@import "src/styles/variables.scss";

.eventsWrapper {
	background-color: $prim-color-green;
	padding-top: 32px;

	.events {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 100px;
		margin-top: 90px;

		@media only screen and (max-width: 1280px) {
			gap: 50px;
			margin-top: 55px;
		}

		@media only screen and (max-width: 833px) {
			flex-direction: column-reverse;
			gap: 24px;
		}

		@media only screen and (max-width: 576px) {
			margin-top: 32px;
		}

		.imageBlock {
			width: 100%;
			max-width: calc(30% - 50px);

			@media only screen and (max-width: 1280px) {
				max-width: calc(40% - 25px);
			}

			@media only screen and (max-width: 992px) {
				max-width: calc(32% - 25px);
			}

			@media only screen and (max-width: 833px) {
				max-width: 100%;
			}

			div {
				text-transform: uppercase;
				color: #2454ff;
				display: flex;
				flex-direction: column;
				gap: $distance-small;
			}

			img {
				@media only screen and (max-width: 833px) {
					max-width: 300px;
					margin: 0 auto;
				}
			}
		}

		.eventsBlock {
			width: 100%;
			max-width: calc(70% - 50px);
			display: flex;
			flex-wrap: wrap;
			column-gap: 32px;
			row-gap: 24px;

			@media only screen and (max-width: 1280px) {
				max-width: calc(60% - 25px);
			}

			@media only screen and (max-width: 992px) {
				max-width: calc(68% - 25px);
				column-gap: 16px;
				row-gap: 16px;
			}

			@media only screen and (max-width: 833px) {
				max-width: 100%;
			}
		}
	}
}