@import "src/styles/variables.scss";

.service {
	display: flex;
	flex-direction: column;
	background-color: $white;
	border: $prim-border;
	border-radius: $border-radius;
	height: 100%;
	padding: 2rem;

	@media (width >=992px) and (width < 1040px) {
		height: 14.75rem;
		padding: 1.2rem;
	}

	ul {
		list-style: disc inside;

		li {
			margin-top: 0.625rem;
			font-weight: 600;

			@media (width < 834px) {
				margin-top: 0;
			}
		}

		h4 {
			display: inline-block;
		}
	}

	.button {
		margin-top: auto;
		align-self: center;

		@media (width < 992px) {
			margin-top: 1.6rem;
		}
	}

	@media (width < 992px) {
		width: 25.25rem;
		height: fit-content;
	}

	@media (width < 425px) {
		width: 20rem;
		padding: 1rem;
	}
}