@import "src/styles/variables.scss";

.introductory {
	font-size: $text-small;
	font-weight: 400;
	line-height: $lh-very-small;
	margin-bottom: $distance-small;

	@media (width >= 834px) {
		width: 588px;
		font-size: $text-normal;
		line-height: $lh-very-normal;
	}
}

.boldText {
	font-weight: 600;
	font-size: $text-small;
	line-height: $lh-very-small;
	margin-top: $distance-very-small;
	width: 217px;

	@media (width >= 834px) {
		font-size: $text-normal;
		width: 665px;
	}
}

.list {
	display: flex;
	flex-direction: column;
	gap: $distance-very-small;
	align-items: center;

	@media (min-width: 834px) {
		align-items: center;
		gap: $distance-normal;
	}

	@media (min-width: 1440px) {
		flex-direction: row;
		flex-wrap: wrap;
	}
}

.itemTextWrapper {
	padding: 15px;

	@media (min-width: 834px) {
		padding: 32px;
	}

	@media (min-width: 1440px) {
		padding: 32px 32px 0;
	}
}

.item {
	background: #ffffff;
	border-radius: 20px;
	border: 1px solid $prim-color-blue;
	width: 300px;

	@media (min-width: 834px) {
		border-radius: 30px;
		width: 634px;
	}

	@media (min-width: 1440px) {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		width: 634px;
		height: 566px;
	}
}

.itemCaption {
	text-transform: uppercase;
	font-weight: 800;
	font-size: $text-mob-normal;
	line-height: $lh-big;
	margin-bottom: $distance-very-small;

	@media (min-width: 834px) {
		font-size: $text-big;
		line-height: $lh-very-huge;
		margin-bottom: $distance-small;
		width: 470px;
	}
}

.itemText {
	font-size: $text-small;
	line-height: $lh-very-small;

	@media (min-width: 834px) {
		font-size: $text-normal;
		line-height: $lh-normal;
	}
}

.aboutItemImg {
	height: auto;
	width: auto;
	border-radius: 20px;

	@media (min-width: 834px) {
		height: 373px;
		width: 100%;
		border-radius: 30px;
	}

	@media (min-width: 1440px) {
		height: 373px;
	}
}
