@import "src/styles/variables.scss";

.introductory {
	font-size: $text-small;
	font-weight: 400;
	line-height: $lh-very-small;
	margin-bottom: 42px;

	@media only screen and (max-width: 992px) {
		width: 588px;
		margin-bottom: $distance-normal;
	}

	@media only screen and (max-width: 425px) {
		margin-bottom: $distance-small;
	}

	@media (width >=576px) {
		font-size: $text-normal;
		line-height: $lh-very-normal;
	}
}

.boldText {
	font-weight: 600;
	font-size: $text-small;
	line-height: $lh-very-small;
	margin-top: $distance-very-small;
	width: 217px;

	@media (width >=576px) {
		font-size: $text-normal;
		width: 665px;
	}
}

.list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: $distance-normal;

	// @media (min-width: 834px) {
	// 	align-items: center;
	// 	gap: $distance-normal;
	// }

	// @media (min-width: 1440px) {
	// 	flex-direction: row;
	// 	flex-wrap: wrap;
	// }
}

.itemTextWrapper {
	padding: 15px;

	@media (min-width: 833px) {
		padding: 32px;
	}

	@media (min-width: 1440px) {
		padding: 32px 32px 20px;
	}
}

.item {
	width: 100%;
	max-width: calc(50% - 16px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #ffffff;
	border-radius: 20px;
	overflow: hidden;
	border: 1px solid $prim-color-blue;

	@media only screen and (max-width: 992px) {
		max-width: 100%;
	}
}

.itemCaption {
	text-transform: uppercase;
	font-weight: 800;
	font-size: $text-mob-normal;
	line-height: $lh-big;
	margin-bottom: $distance-very-small;

	@media (min-width: 833px) {
		font-size: $text-big;
		line-height: $lh-very-huge;
		margin-bottom: $distance-small;
		width: 100%;
		max-width: 470px;
	}
}

.itemText {
	font-size: $text-small;
	line-height: $lh-very-small;

	@media (min-width: 576px) {
		font-size: $text-normal;
		line-height: $lh-normal;
	}
}

.aboutItemImg {
	width: 100%;
	height: auto;
	max-height: 374px;
	object-fit: cover;
	border-radius: 20px;

	// @media (min-width: 834px) {
	// 	height: 373px;
	// 	width: 100%;
	// 	border-radius: 30px;
	// }

	// @media (min-width: 1440px) {
	// 	height: 373px;
	// }
}