@import "src/styles/variables.scss";

.title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  text-transform: capitalize;

  margin-bottom: 28px;
}

.addNewMember {
  width: 100%;
  max-width: 780px;
}