@import "src/styles/variables.scss";

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

html,
body {
	max-width: 100vw;
	min-height: 100%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	font-size: 1rem;
	line-height: 1.625rem;
	color: $prim-color-black;
	background-color: $primary-bg-color;

	&.disable-scroll {
		overflow: hidden;
		// height: 100vh;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
	}
}

h1 {
	font-size: $text-gigantic;
	font-weight: 900;
	text-transform: uppercase;
}

h2 {
	font-size: $text-huge;
	font-weight: 900;
	text-transform: uppercase;

	@media (max-width: 1439px) {
		font-size: $text-big;
	}
}

h3 {
	font-size: $text-huge;
	font-weight: 800;
	line-height: 100%;
	text-transform: uppercase;

	@media (max-width: 1439px) {
		font-size: $text-big;
	}

	@media (max-width: 833px) {
		font-size: $text-mob-normal;
	}
}

h4 {
	font-size: $text-normal;
	font-weight: 400;

	@media (max-width: 833px) {
		font-size: $text-small;
		font-weight: 600;
		line-height: $lh-very-small;
	}
}

h5 {
	font-size: $text-big;
	font-weight: 800;
	text-transform: uppercase;

	@media (max-width: 833px) {
		font-size: $text-mob-normal;
	}
}

h6 {
	font-size: $text-medium;
	font-weight: 600;

	@media (max-width: 833px) {
		font-size: $text-small;
	}
}

img {
	width: 100%;
	height: auto;
	object-fit: cover;
}