@import 'src/styles/variables.scss';

.sidebar {
    width: 100%;
    max-width: 240px;
    padding: 24px 0;
    background-color: #fff;
    border-right: 2px solid #E0E0E0;
}

.logo {
    margin-bottom: 40px;
    padding: 0 26px;

    >div {
        width: 100%;
        height: auto;
    }
}