@import 'src/styles/variables.scss';

.sidebar {
    width: 100%;
    max-width: 240px;
    padding: 24px 0;
    background-color: $white;
    border-right: 2px solid #E0E0E0;

    @media only screen and (max-width: $media-lg) {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        max-width: 50vw;
        opacity: 0;
        visibility: hidden;
        z-index: 99;
        transform: translate3d(-100%, 0, 0);
        transition: all .25s ease-in-out;
    }
}

.logo {
    margin-bottom: 40px;
    padding: 0 26px;

    >div {
        width: 100%;
        height: auto;
    }
}