.categories {
  display: flex;
  justify-content: space-between;
  margin: 1.6875rem 0;

  @media (max-width: 834px) {
    flex-direction: column;
    gap: 0.9375rem;
  }
}

.samples {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 1.6875rem;

  .noCases {
    margin: auto;
  }
}

.moreBtn{
  margin: 0 auto;
}
