@import "src/styles/variables.scss";

.login {
    padding: 5% 25px 25px;

    @media only screen and (max-width: 992px) {
        padding: 15% 15px 15px;
    }
}

.wrapper {
    width: 100%;
    max-width: 630px;
    margin: auto;
    padding: 90px 58px;
    background: $white;
    border-radius: 24px;

    @media only screen and (max-width: 1400px) {
        padding: 60px 45px;
    }

    @media only screen and (max-width: 576px) {
        padding: 25px 15px;
    }
}

.title {
    margin-bottom: 15px;
    font-size: $text-huge;
    font-weight: 700;
    line-height: normal;
    color: #202224;
    text-align: center;
    text-transform: unset;

    @media only screen and (max-width: 576px) {
        margin-bottom: 10px;
        font-size: $text-big;
    }
}

.subtitle {
    margin-bottom: 35px;
    font-size: $text-medium;
    font-weight: 600;
    font-style: normal;
    color: #202224;
    text-align: center;

    @media only screen and (max-width: 576px) {
        font-size: $text-normal;
    }
}

.homeLink {
    display: block;
    margin-top: 18px;
    font-size: $text-medium;
    font-weight: 600;
    line-height: normal;
    color: #a6a6a6;
    text-align: center;
    opacity: .65;
    transition: $transition;

    @media only screen and (max-width: 576px) {
        font-size: $text-normal;
    }

    &:hover {
        opacity: 1;
        color: $prim-color-blue;
    }
}