@import 'src/styles/variables.scss';

.event {
	border-radius: $border-radius;
	padding: $distance-normal;

	.header {
		display: flex;
		gap: $distance-normal;
		margin-bottom: $distance-small;
		flex-wrap: wrap;
		// height: 26px;
	}

	.eventTitleName {
		width: 220px;
	}
}

.newEvent {
	@extend .event;
	color: $white;
	background-color: $prim-color-blue;
	width: 100%;
	border: 1px solid #2454ff;

	.speakers {
		display: grid;
		grid-template-columns: auto auto 1fr;
		gap: $distance-small;

		div {
			width: fit-content;
			text-align: center;
		}
	}

	h2 {
		color: $prim-color-green;
		font-size: $text-huge !important;
		margin-bottom: 0 !important;
	}

	.greenBtn {
		background-color: $prim-color-green;
		color: $prim-color-blue;
		margin-left: auto;
		margin-top: auto;
	}
}

.laterEvent {
	@extend .event;
	color: $prim-color-black;
	background-color: $white;
	width: 360px;
	width: 100%;

	display: flex;
	flex-direction: column;
	border: 1px solid #2454ff;

	h2 {
		color: $prim-color-blue;
		font-size: $text-huge !important;
		margin-bottom: $distance-normal !important;
	}

	.button {
		margin-top: auto;
		align-self: end;
		justify-self: end;
	}
	display: flex;
	flex-direction: column;
	border: 1px solid #2454ff;

	h2 {
		color: $prim-color-blue;
		font-size: $text-huge !important;
		margin-bottom: $distance-normal !important;
	}

	.button {
		margin-top: auto;
		align-self: end;
		justify-self: end;
	}
}

@media (max-width: 1439px) {
	.event {
		padding: 8px;
		.eventTitleName {
			width: 110px;
		}
		h5 {
			font-size: $text-mob-normal;
		}
	}

	.newEvent {
		width: 455px;
		padding: $distance-small;

		h2 {
			font-size: 22px !important;
		}

		.speakers {
			grid-template-columns: auto 1fr;
			grid-template-areas:
				'speaker speker'
				'button button';
			font-size: 10px;

			svg {
				width: 79px;
				height: 79px;

				object-fit: cover;
			}
		}

		.greenBtn {
			grid-area: button;
		}
	}

	.laterEvent {
		padding: 15px;

		h2 {
			font-size: 20px !important;
		}
	}
}

@media (max-width: 833px) {
	.event {
		width: 300px;
		padding: $distance-small;
		.eventTitleName {
			width: auto;
		}
	}

	.newEvent {
		margin-top: $distance-small;

		h2 {
			margin-top: -20px;
		}
	}
}
