@import 'src/styles/variables.scss';

.event {
	border-radius: $border-radius;
	padding: $distance-normal;

	@media only screen and (max-width: 992px) {
		padding: 16px 24px;
	}

	.header {
		display: flex;
		gap: $distance-normal;
		margin-bottom: $distance-small;
		flex-wrap: wrap;

		h5 {
			@media only screen and (max-width: 992px) {
				font-size: 13px;
				line-height: 1;
			}
		}
	}
}

.newEvent {
	@extend .event;
	width: 100%;
	max-width: 100%;
	color: $white;
	background-color: $prim-color-blue;
	width: 100%;
	border: 1px solid #2454ff;

	.header {
		h5 {
			@media only screen and (max-width: 992px) {
				font-size: 15px;
			}
		}
	}

	.speakers {
		display: grid;
		grid-template-columns: auto auto 1fr;
		gap: $distance-small;
		font-size: 10px;

		@media only screen and (max-width: 992px) {
			grid-template-columns: auto 1fr;
			grid-template-areas:
				"speaker speker"
				"button  .";
		}

		div {
			text-align: center;
		}
	}

	h2 {
		color: $prim-color-green;
		font-size: $text-huge;
		margin-bottom: 16px !important;

		@media only screen and (max-width: 1366px) {
			font-size: 30px;
		}

		@media only screen and (max-width: 1280px) {
			font-size: 21px;
		}

		@media only screen and (max-width: 576px) {
			font-size: 14px;
		}
	}

	.greenBtn {
		padding: 10px 32px;
		background-color: $prim-color-green;
		color: $prim-color-blue;
		margin-left: auto;
		margin-top: auto;
		grid-column: -1;

		padding: 10px 32px;
		width: fit-content;

		@media only screen and (max-width: 992px) {
			grid-area: button;
			margin-right: auto;
		}
	}
}

.laterEvent {
	@extend .event;
	width: 100%;
	max-width: calc(50% - 16px);
	color: $prim-color-black;
	background-color: $white;

	display: flex;
	flex-direction: column;
	border: 1px solid #2454ff;

	@media only screen and (max-width: 992px) {
		max-width: calc(50% - 8px);
	}

	@media only screen and (max-width: 833px) {
		max-width: 100%;
	}

	h2 {
		color: $prim-color-blue;
		font-size: $text-huge;
		margin-bottom: 16px !important;

		@media only screen and (max-width: 1366px) {
			font-size: 30px;
		}

		@media only screen and (max-width: 1280px) {
			font-size: 19px;
		}

		@media only screen and (max-width: 576px) {
			font-size: 14px;
		}
	}

	.button {
		margin-top: auto;
		align-self: start;

		padding: 10px 32px;
		width: fit-content;
	}
}