@import "src/styles/variables.scss";

.section {
	padding-bottom: $distance-big;

	h1 {
		font-size: $text-gigantic;
		width: 50%;
		line-height: 1;
		text-transform: uppercase;
		margin-bottom: $distance-normal;

		@media only screen and (max-width: 1280px) {
			font-size: 55px;
		}

		@media only screen and (max-width: 1139px) {
			font-size: 48px;
		}

		@media only screen and (max-width: 992px) {
			font-size: $text-gigantic;
		}

		@media only screen and (max-width: 767px) {
			font-size: 48px;
			margin-bottom: $distance-very-small;
		}

		@media only screen and (max-width: 576px) {
			font-size: $text-huge;
		}

		@media only screen and (max-width: 425px) {
			font-size: $text-big;
		}
	}

	h2 {
		font-size: $text-mob-normal;
		text-transform: uppercase;
		margin-bottom: $distance-very-small;
		line-height: 1;

		@media (width >=425px) {
			font-size: $text-big;
			margin-bottom: $distance-small;
		}

		@media (width >=1440px) {
			font-size: $text-huge;
		}
	}
}