@import 'src/styles/variables.scss';

.footerWrapper {
	background-color: $prim-color-green;

	.footer {
		max-width: 81.25rem;
		margin: 0 auto;
		background-color: $prim-color-black;
		border-radius: $border-radius $border-radius 0 0;
		color: $white;
		padding: 4rem 5rem;
		display: grid;
		justify-content: space-between;
		grid-template-columns: max-content max-content max-content;
		grid-template-rows: auto auto auto;
		grid-template-areas:
			'logo socials contacts'
			'. .  withUs';

		.logo {
			grid-area: logo;
		}

		.socials {
			grid-area: socials;
			display: flex;
			gap: 2rem;
		}

		.contacts {
			grid-area: contacts;
		}

		.withUs {
			grid-area: withUs;
		}
	}

	h2 {
		margin-bottom: 0.9375rem;
		color: $prim-color-green;
	}

	h5 {
		color: $prim-color-green;
		margin-bottom: 0.9375rem;
	}

	a:hover {
		text-decoration: underline;
	}

	button {
		margin-bottom: 0.9375rem;
	}

	h6 {
		margin-bottom: 1.25rem;
	}

	p {
		font-size: $text-small;
	}

	@media (max-width: 1439px) {
		.footer {
			max-width: 43.375rem;
			gap: 2rem;
			grid-template-columns: 1fr 1fr;
			grid-template-areas:
				'logo logo'
				'socials socials'
				'contacts withUs';
		}

		.logo,
		.socials {
			justify-self: center;
		}

		.withUs {
			justify-self: right;
		}
	}

	@media (max-width: 833px) {
		.footer {
			max-width: 20rem;
			padding: 4rem 3rem;
			grid-template-columns: 1fr;
			grid-template-areas:
				'logo'
				'socials'
				'contacts'
				'withUs';

			.withUs {
				justify-self: left;
			}
		}
	}

	.footerLink {
		border-radius: $border-radius;
		text-align: center;
		cursor: pointer;
		transition: $transition;
		display: inline-block;
		margin-bottom: 15px;
		&:is(:hover, :focus) {
			text-decoration: none;
			background-color: transparent;
			border: 1px solid $white;
		}
	}

	.primaryFooterLink {
		@extend .footerLink;
		background-color: $prim-color-blue;
		color: $white;
		padding: 0.375rem 0;
		border: none;
		width: 11rem;
		height: 2.75rem;
		font-size: $text-medium;
		line-height: $lh-very-big;

		@media (min-width: 768px) {
			padding: 0.625rem 0;
			width: 100%;
		}
		@media (min-width: 1440px) {
			width: 11.875rem;
		}
	}
}
