@import "src/styles/variables.scss";

.button {
    display: inline-block;
    padding: 16px 32px;
    color: $white;
    font-size: 18px;
    line-height: 1;
    transition: $transition;
    border-radius: 12px;
    outline: none;
    text-align: center;
}

.primary {
    background: $prim-color-blue;
}

.black {
    background: #292A2E;
}