@import 'src/styles/variables.scss';

.wrapper {
    display: flex;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #F5F6FA;

    @media only screen and (max-width: $media-lg) {
        display: block;
    }
}

.content {
    flex: 1 1 auto;
}

.contentInner {
    padding: 30px;

    @media only screen and (max-width: $media-lg) {
        padding-top: 110px;
    }
}