@import 'src/styles/variables.scss';

.link {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    margin: 0 36px;
    padding: 16px 0;
    font-weight: 600;


    &:hover {
        color: $prim-color-blue;
    }
}

.active {
    color: $prim-color-blue;
}

.icon {
    width: 100px;
    max-width: 22px;
    min-width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 100%;
        height: auto;
    }
}