@import 'src/styles/variables.scss';

.accordion {
	margin-top: 24px;
	margin-bottom: 105px;
	border: 1px solid #ccc;
	border-radius: 14px;
	max-width: 1441px;
}

.accordionContent {
	background: $white;
	border-radius: 14px;
	// padding: 0 32px;
}

.gridHeader {
	text-transform: uppercase;
	// background: #f1f1f1;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;

	border: 0px solid #d5d5d5;
	border-bottom-width: 1px;

	padding: 0 32px;
}

.gridHeaderItem {
	padding: 15px 0;
	font-weight: 800;
	font-size: $text-mob-normal;
}

.gridHeaderItemHidden {
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.gridHeader,
.gridRow {
	display: grid;
	grid-gap: 10px;

	align-items: center;
}

.gridRow {
	border-bottom: 1px solid #d5d5d5;
	padding: 0 32px;
}

.gridRowContainer {
	&:last-child .gridRow {
		border: none;
	}
}

.rowContent {
	display: contents;
}

.gridRowItem {
	padding: 5px 0;
	margin: 5px;
	font-weight: 600;
	font-size: $text-mob-normal;
}

.gridRowItem:nth-last-child(2) {
	justify-self: end;
}
.gridRowItem:last-child {
	justify-self: center;
}
.editBtn {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 129px;
	height: 34px;

	background-color: #4880ff;
	color: #ffffff;

	font-size: $text-small;
	font-weight: 700;
	border-radius: 6px;
}

.editContainer {
	grid-column: 1 / -1;

	padding-top: 28px;
	padding-left: 32px;

	border-bottom: 1px solid #ccc;
}

.editContent {
	position: relative;
	display: flex;
	flex-direction: column;
}

.editingPhotoLabelWrapper {
	display: flex;
	align-items: flex-start;
	gap: 30px;
	height: 111px;
	margin-bottom: 92px;
}

.editingInputWrapper {
	width: 456px;
	height: 72px;
}

.btnsEditingBlock {
	position: absolute;
	top: 35px;
	right: 37px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}
