@import "src/styles/variables.scss";

.section {
  @media (max-width: 834px) {
    padding-bottom: $distance-very-small;
  }

  h1 {
    margin-bottom: $distance-small;
    width: 100%;
  }

  h4 {
    max-width: 36.8125rem;
    margin-bottom: $distance-normal;


    @media (max-width: 834px) {
      font-weight: normal;
    }
  }

  .bannerBlock {
    position: relative;
    height: 366px;

    .banner {
      object-fit: cover;
      object-position: center;
      border-radius: 0 0 $border-radius-big $border-radius-big;
    }

    .welcome {
      position: absolute;
      bottom: 25px;
      right: 20px;
    }

    @media (max-width: 1440px) {
      height: 500px;
    }

    @media (max-width: 834px) {
      height: 300px;

      .welcome {
        width: 164px;
        height: 92px;
        bottom: 10px;
        right: 10px;
      }
    }
  }
}