@import "src/styles/variables.scss";

.button {
    display: inline-block;
    padding: 14px 30px;
    color: $white;
    font-size: 18px;
    line-height: 1;
    transition: $transition;
    border: 1px solid;
    border-radius: 12px;
    outline: none;
    text-align: center;

    &:hover {
        background-color: $white;
    }
}

.primary {
    border-color: $prim-color-blue;
    background: $prim-color-blue;

    &:hover {
        color: $prim-color-blue;
    }
}

.black {
    border-color: #292A2E;
    background: #292A2E;

    &:hover {
        color: #292A2E;
    }
}

.edit {
    padding: 9px 30px;
    background: #4880ff;
    border-color: #4880ff;
    font-size: $text-small;
    font-weight: 700;
    border-radius: 6px;

    &:hover {
        color: #4880ff;
    }
}