@import "src/styles/variables.scss";

.card {
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid $prim-color-blue;
    border-radius: 20px;
    color: $prim-color-blue;
    background: #fff;
    text-align: center;
    height: 100%;

    @media only screen and (max-width: 992px) {
        padding: 30px;
    }

    @media only screen and (max-width: 425px) {
        padding: 20px;
    }
}

.imageWrapper {
    width: 100px;
    height: 100px;
    margin-bottom: 24px;
    border-radius: 100%;
    overflow: hidden;

    @media only screen and (max-width: 576px) {
        width: 80px;
        height: 80px;
        margin-bottom: 14px;
    }

    img {
        height: 100%;
    }
}

.position {
    margin-bottom: 8px;
    font-size: $text-large;
    line-height: 1.1;
    text-transform: uppercase;

    @media only screen and (max-width: 992px) {
        font-size: $text-normal;
    }
}

.name {
    font-size: $text-medium;
    font-weight: 500;
    line-height: 1;

    @media only screen and (max-width: 992px) {
        font-size: $text-mob-normal;
    }
}